<!DOCTYPE html>
<HTML lang=en>
	<HEAD><% include header.ejs %></HEAD>
	<BODY>
		<div class="container">
			This will be all about Rentr.
		</div>
	</BODY>
	<script src="bower_components/angular/angular.js"></script>
</HTML>