<div id="login">
	<input type="TEXT" name="user_name" placeholder="User Name"><br>
	<input type="password" name="password" placeholder="Password"><br>
	<input type="button" name="login" value="Login">

	<br><br>
	<form>
		<input type="file" name="file">
		<br>
		<input type="submit" value="Submit">
	</form>
</div>