<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
	<title><%= title %></title>

	<!--div style="color:#0000FF"-->
	<!--style type="text/css">
	#menu ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	#menu li {
		display: inline;
	}
</style-->
<div class="container">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						Menu
					</button>
					<a class="navbar-brand" href="/">Rentr</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/find">Find</a></li>
						<li><a href="/upload">Upload</a></li>
						<li><a href="/about">About</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/signup">Signup</a></li>
						<li><button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#loginModal">Login</button></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="jumbotron">
			<h2>Rentr - Delivering Quality and Trust to Your Apartment Hunt</h2>
		</div>
	</div>

<% include signin-prompt.ejs %>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>