<div style="color:#0000FF">
	<TITLE><%= title %></TITLE>
	<UL>
		<li><a href="/">Index</a></li>
		<li><a href="/find">Find</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/signup">Signup</a></li>
	</UL>
	<H1>Rentr - Delivering Quality and Trust to Your Apartment Hunt</H1>
</div>