<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<link href="css/bootstrap.min.css" rel="stylesheet">

<div style="color:#0000FF">
	<TITLE><%= title %></TITLE>
	<!--style type="text/css">
	#menu ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	#menu li {
		display: inline;
	}
	</style-->
	<div id="menu">
		<nav>
			<a href="/">Index</a>
			<a href="/find">Find</a>
			<a href="/upload">Upload</a>
			<a href="/about">About</a>
			<a href="/signup">Signup</a>
		</nav>
	</div>
	<H1>Rentr - Delivering Quality and Trust to Your Apartment Hunt</H1>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>