<div style="color:#0000FF">
	<TITLE><%= title %></TITLE>
	<style type="text/css">
	#menu ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	#menu li {
		display: inline;
	}
	</style>
	<div id="menu">
		<ul>
			<li><a href="/">Index</a></li>
			<li><a href="/find">Find</a></li>
			<li><a href="/upload">Upload</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/signup">Signup</a></li>
		</ul>
	</div>
	<H1>Rentr - Delivering Quality and Trust to Your Apartment Hunt</H1>
</div>