<!DOCTYPE html>
<HTML lang="en">
	<% include header.ejs %>

	<%= userData.email %>

	<!--%if (userData.email) {<%= 'Welcome to Rentr'%>} else {
	<%= 'Welcome to Rentr. Please Log in'%>}%-->

	<body>
		<div class="container">
			Welcome to the Rentr site.
		</div>
	</body>
	<script src="bower_components/angular/angular.js"></script>
</HTML>