<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<div style="color:#0000FF">
		<% include header.ejs %>
		<meta name="description" content="">
		<meta name="author" content="">
	</div>
</head>
<body>
	<div class="title">
		<%= title %>
	</div>
	Welcome to the Rentr site.
	<img src="public/images/brownstone.jpg">
	<img src="public/images/closet.jpg">
</body>
<script src="bower_components/angular/angular.js"></script>
</html>