<!DOCTYPE html>
<HTML lang="en">
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
<% include header.ejs %>

<body>
	<div class="container">
		Welcome to the Rentr site.
	</div>
</body>
<script src="bower_components/angular/angular.js"></script>
</HTML>