<!DOCTYPE html>
<HTML lang="en" ng-app="SignupController">
	<HEAD><% include header.ejs %></HEAD>
	<BODY>
		<div class="container">
			<h3>Feel free to create an account.</h3>
			<br>
			<% include body.ejs %>
		</div>
	</BODY>
	<br><br><br>
	
	<script src="bower_components/angular/angular.js"></script>
</HTML>