<!DOCTYPE html>
<HTML lang="en">
	<TITLE><%= title %></TITLE>
	<HEAD>
		<% include header.ejs %>
	</HEAD>
	<BODY>
		<% include body.ejs %>
	</BODY>
	<br><br><br>
	This is where you can signup for a new webpage.
	<script src="./node_modules/angular/angular.js"></script>
</HTML>